@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  background-image: url(../public/background2.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  font-family: "Handlee", cursive;
  background-color: #ffffff;
  color: #252525;
}
